body{
    background: #1e2d3b;
}
header{
    background: #2e3a46;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 24px;
}
header img{
    width: 75px;
}
label{
    color: #fff;
    font-weight: bold;
}
.albums-col{
    width: calc(100% / 5 - 24px);
    margin: 12px 12px;
    padding: 24px;
}
.inner-container{
    background: #2e3a46;
    text-align: center;
    color: #808080;
    font-size: 18px;
    height: 400px;
}
.album-img{
    width: 100%;
}
.inner-container .title{
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}
